@model IEnumerable<AspCore.Models.ProductModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @user.Type
            @user.Name
            @user.Price
        </li>
    }
</ul>