@model BusinessLayer.Models.View.UserTaskViewModel
@{
    ViewData["Title"] = "EditTaskData";
}

<h1>EditTask</h1>

@using (Html.BeginForm("GetEditTaskData", "UserTask", FormMethod.Post))
{
    <p>
        @Html.DropDownListFor(model => model.CategoryType, Html.GetEnumSelectList<DataLayer.Enums.CategoryType>(), Model.CategoryType)
    </p>
    <p>
        <label>MaxPrice</label><br />
        <input type="text" name="maxPrice" value=@Model.Price />
    </p>
    <p>
        <label>Ключевые слова</label><br />
        <input type="text" name="keyWords" value=@Model.Keywords />
    </p>
    <p>
        @*<button type="submit" name="tasksID" data-number= @Model.ID value=@Model.ID>Создать</button>*@
        <button type="submit" name="tasksID"  value=@Model.ID>Создать</button>
    </p>
}